.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.array {
  display: flex;
  width: 80vw;
  justify-content: space-evenly;
}

.num {
  border: 1px solid black;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
}

.btn-group {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.btn-group button {
  padding: 10px;
}

.hi {
  position: relative;
  width: 20px;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.hi div {
  height: 100px;
  width: 5px;
  background-color: orange;
  margin: 0 auto;
}

.lo {
  position: relative;
  width: 20px;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.lo div {
  height: 50px;
  width: 5px;
  background-color: skyblue;
  margin: 0 auto;
}
